		body{
			background-color:#202020;
		}
		h2{
			color:#FF0065;
			font-size: 4.5vw;
		}
		p{
			color:#FFFFFF;
			font-size:2vw;
		}
		h3{
			color: #FFFFFF;
			max-width: 20vw;
			padding-left: 1.5vw;
			border-bottom: solid 0.3vw #FFFFFF;
			background-size: contain;
			font-size: 2.5vw;
		}
		.hexagon{
			background: #FFFFFF;
			background-size: contain;
			width:7.5vw;
			height:6.5vw;
			clip-path:polygon(25% 0%,75% 0%,100% 50%, 75% 100%, 25% 100%, 0% 50%);
		}
		a.hexagon{
			display:block;
			text-decoration: none;
			text-align: center;
			line-height: 6.5vw;
			font-weight: 900;
		}
		a.hexagon:hover{
			background: #FFA8CF;
		}
		li{
			list-style-type: none;
			float: left;
			padding-left:1.5vw;
			flex-wrap: wrap;
		}
table{
	color:#FFFFFF;
	display: flex;
	flex-warp: wrap;
}

th {
	color : #FF0065;
	border-bottom: solid 0.1vw #FF0065;
	padding-left : 3vw;
	padding-right: 3vw;
	padding-top: 3vw;
	font-weight: 900;
	font-size: 2vw;
}

td{
	border-bottom: solid 0.1vw #FF0065;
	text-align: center;
	padding-left : 5vw;
	padding-right: 5vw;
	padding-top: 3vw;
	font-size: 2vw;
}

th,td { display:block;}
